:root {
  --light-hl-0: #0000ff;
  --dark-hl-0: #569cd6;
  --light-hl-1: #000000;
  --dark-hl-1: #d4d4d4;
  --light-hl-2: #001080;
  --dark-hl-2: #9cdcfe;
  --light-hl-3: #795e26;
  --dark-hl-3: #dcdcaa;
  --light-hl-4: #a31515;
  --dark-hl-4: #ce9178;
  --light-hl-5: #008000;
  --dark-hl-5: #6a9955;
  --light-hl-6: #811f3f;
  --dark-hl-6: #d16969;
  --light-hl-7: #ee0000;
  --dark-hl-7: #d7ba7d;
  --light-hl-8: #ee0000;
  --dark-hl-8: #dcdcaa;
  --light-hl-9: #d16969;
  --dark-hl-9: #ce9178;
  --light-code-background: #ffffff;
  --dark-code-background: #1e1e1e;
}

@media (prefers-color-scheme: light) {
  :root {
    --hl-0: var(--light-hl-0);
    --hl-1: var(--light-hl-1);
    --hl-2: var(--light-hl-2);
    --hl-3: var(--light-hl-3);
    --hl-4: var(--light-hl-4);
    --hl-5: var(--light-hl-5);
    --hl-6: var(--light-hl-6);
    --hl-7: var(--light-hl-7);
    --hl-8: var(--light-hl-8);
    --hl-9: var(--light-hl-9);
    --code-background: var(--light-code-background);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --hl-0: var(--dark-hl-0);
    --hl-1: var(--dark-hl-1);
    --hl-2: var(--dark-hl-2);
    --hl-3: var(--dark-hl-3);
    --hl-4: var(--dark-hl-4);
    --hl-5: var(--dark-hl-5);
    --hl-6: var(--dark-hl-6);
    --hl-7: var(--dark-hl-7);
    --hl-8: var(--dark-hl-8);
    --hl-9: var(--dark-hl-9);
    --code-background: var(--dark-code-background);
  }
}

:root[data-theme='light'] {
  --hl-0: var(--light-hl-0);
  --hl-1: var(--light-hl-1);
  --hl-2: var(--light-hl-2);
  --hl-3: var(--light-hl-3);
  --hl-4: var(--light-hl-4);
  --hl-5: var(--light-hl-5);
  --hl-6: var(--light-hl-6);
  --hl-7: var(--light-hl-7);
  --hl-8: var(--light-hl-8);
  --hl-9: var(--light-hl-9);
  --code-background: var(--light-code-background);
}

:root[data-theme='dark'] {
  --hl-0: var(--dark-hl-0);
  --hl-1: var(--dark-hl-1);
  --hl-2: var(--dark-hl-2);
  --hl-3: var(--dark-hl-3);
  --hl-4: var(--dark-hl-4);
  --hl-5: var(--dark-hl-5);
  --hl-6: var(--dark-hl-6);
  --hl-7: var(--dark-hl-7);
  --hl-8: var(--dark-hl-8);
  --hl-9: var(--dark-hl-9);
  --code-background: var(--dark-code-background);
}

.hl-0 {
  color: var(--hl-0);
}
.hl-1 {
  color: var(--hl-1);
}
.hl-2 {
  color: var(--hl-2);
}
.hl-3 {
  color: var(--hl-3);
}
.hl-4 {
  color: var(--hl-4);
}
.hl-5 {
  color: var(--hl-5);
}
.hl-6 {
  color: var(--hl-6);
}
.hl-7 {
  color: var(--hl-7);
}
.hl-8 {
  color: var(--hl-8);
}
.hl-9 {
  color: var(--hl-9);
}
pre,
code {
  background: var(--code-background);
}
